{% extends 'base.html' %}
{% load humanize %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
    <div class="row-mt-5">
        <div class="col-12">
            <!--본문-->
            <div class="card" style="width: 100%;">
                <!--제목,분류,작성일-->
                <div class="card-header">
                    <strong style="font-size: 18px;">{{ studygroup.title }}</strong>
                    <span style="float:right;">{{ studygroup.registered_date|date:'Y.m.d. H:i' }}</span>
                </div>
                <div class="card-body" style="min-height: 400px; color:black;">
                    <!--작성자, 조회수-->
                    <div>
                        <span><i class="fas fa-user-edit"></i>&nbsp;작성자 : {{ studygroup.author }}</span>
                        <span style="float:right;">조회수 : {{ studygroup.hits }}</span>
                    </div>
                    <hr>
                    {% if studygroup.upload_files %}
                    <div class="col-12 text-right">
                        <span style="color: gray;">첨부파일 :&nbsp;</span>
                        <a id="id_uploaded_file" href="{% url 'notice:notice_download' studygroup.id %}" >{{ studygroup.filename|truncatechars:25 }}</a>
                    </div>
                    {% endif %}
                    <!--내용-->
                    <div>
                        {{ studygroup.content | safe }}
                    </div>
                    {% load disqus_tags %}  <!-- disqus 태그 기능 사용 -->
                    <div>
                        {% disqus_show_comments %}
                    </div>
                </div>
            </div>
            <br>
            <div class="text-right" style="margin-top:-15px;">
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/studygroup/{{ studygroup.id }}/edit/'">수정</button>
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#delete_modal">삭제</button>
                <!-- <button class="btn btn-md btn-dark" onclick="location.href='/notice/{{ studygroup.id }}/delete/'">삭제</button> -->
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/studygroup/'">목록으로</button>
            </div>
        </div>
    </div>

    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">삭제경고</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>게시글을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('img').css('width', '100%');
    });

    function delete_modal() {
        location.replace('/studygroup/{{ studygroup.id }}/delete/');
    }
</script>

{% endblock %}